@charset "UTF-8";

/*----------------------------------------------
Typography 
----------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --heading-font: "Inter", sans-serif;
  --body-font: "Inter", sans-serif;
  --body-font: "Rubik", serif;
  --primary-color: 45, 119, 67;
  --body-color: 102, 98, 98;
  --heading-color: 23, 23, 23;
  --black: 0, 0, 0;
  --white: 255, 255, 255;
  --input-color: var(--bg-color1);
  --lime-gray: #d0d0d0;
  --input-color2: #ffffff;
  --bg-color1: #ffffff;
  --bg-color2: rgb(249, 250, 251);
  --border-color1: rgba(231, 234, 243, 0.7);
  --border-color2: rgba(140, 152, 164, 0.25);
  --shadow1: 0 0.375rem 0.75rem rgba(140, 152, 164, 0.075);
  --shadow2: 0 0.1875rem 0.75rem rgba(140, 152, 164, 0.25);
  --transition: all 0.3s ease-in-out;
}

// primary: #63AB45

/*----------------------------------------------
Reset section start
----------------------------------------------*/
.rtl {
  direction: rtl;
}

::-moz-selection {
  color: rgb(var(--primary-color));
  background: rgb(var(--primary-color), 0.1);
}

::selection {
  color: rgb(var(--primary-color));
  background: rgb(var(--primary-color), 0.1);
}

// Input type number hide arrow start
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}
// Input type number hide arrow end

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  // color: #eeeeee;
  margin-bottom: 10px;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
  transition: var(--transition);
}

a:hover {
  text-decoration: none;
  color: rgb(var(--primary-color));
}

button {
  background: none;
  border: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--heading-font);
  font-weight: 500;
  line-height: 1.2;
  color: rgb(var(--heading-color));
}

h1 {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 55px;
}

@media (max-width: 991px) {
  h1 {
    font-size: 36px;
    line-height: 50px;
  }
}

h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 5px;
}

@media (max-width: 991px) {
  h2 {
    font-size: 28px;
  }
}

h3 {
  font-size: 28px;
  margin-bottom: 5px;
  font-weight: 700;
}

@media (max-width: 991px) {
  h3 {
    font-size: 24px;
  }
}

h4 {
  font-size: 24px;
  margin-bottom: 5px;
  font-weight: 600;
}

@media (max-width: 991px) {
  h4 {
    font-size: 20px;
  }
}

h5 {
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: 700;
}

h6 {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 0;
  font-family: var(--heading-font);
  color: rgb(var(--heading-color));
  font-weight: 500;
}

img {
  max-width: 100%;
  height: auto;
  pointer-events: none;
}

figure {
  margin: 0;
}

.logo {
  max-width: 130px;
  min-width: 100px;
}

.footer-logo {
  max-width: 200px;
  min-width: 100px;
}

body {
  font-family: var(--body-font);
  line-height: 1.4;
  color: rgb(var(--body-color));
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
  // overflow-x: hidden;
}

textarea.form-control {
  height: initial;
  border-radius: 15px;
}

.form-label {
  color: rgb(var(--heading-color));
  text-transform: capitalize;
  font-size: 15px;
  margin-bottom: 5px;
  font-weight: 500;
}

.form-select {
  color: rgb(var(--body-color));
  background-image: url(../img/accordion/down-arrow-white.png);
  background-size: 12px;
}

option {
  background-color: var(--bg-color1);
}

.form-control,
.form-select {
  border-radius: 9999px;
  background-color: var(--input-color);
  border: 1px solid var(--border-color1);
  height: 45px;

  &::placeholder {
    color: rgb(var(--body-color));
  }

  &:focus {
    box-shadow: none;
    border: 1px solid rgb(var(--primary-color));
    background-color: var(--bg-color1);
  }
}
.form-control:disabled {
  background: #f2f2f2;
}
.form-check label,
.form-check-input {
  cursor: pointer;
}

.form-check-input:checked {
  background-color: rgb(var(--primary-color));
  border-color: rgb(var(--primary-color));
}

.form-check-input:focus {
  border-color: rgb(var(--primary-color));
  box-shadow: none;
}

.rtl .form-check {
  padding-right: 1.5em;

  .form-check-input {
    float: right;
    margin-right: -1.5em;
  }
}

.form-select {
  // background-image: url(../img/accordion/arrow-down.png);
  background-repeat: no-repeat;
}

.input-group {
  height: 45px;
  border-radius: 8px;
}

.input-group-text {
  min-width: 45px;
  border: none;
  display: flex;
  justify-content: center;
  color: rgb(var(--primary-color));
  background-color: rgb(var(--primary-color), 0.1);
  cursor: pointer;
  gap: 5px;
}

// Scroll bar section start
::-webkit-scrollbar {
  width: 4px;
  height: 6px;
  // background-color: var(--border-color1);
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgb(var(--primary-color), 0.8);
  visibility: hidden;
  opacity: 0;
}

:hover::-webkit-scrollbar-thumb {
  visibility: visible;
  opacity: 1;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  visibility: visible;
  opacity: 1;

  &:hover {
    background-color: rgb(var(--primary-color));
  }
}

// Scroll bar section end

// Jquery UI section end
.fw-medium {
  font-weight: 500;
}
.cmn-ul {
  list-style: disc;
  padding-left: 2rem;
  margin-bottom: 1rem;
  li:not(:last-child) {
    margin-bottom: 5px;
  }
}
// Custom sidebar start
.custom-sidebar {
  // width: 250px;
  background-color: var(--bg-color1);
  position: fixed;
  top: 100px;
  right: 0;
  box-shadow: var(--shadow3);
  padding: 20px;
  z-index: 9999;
  border-radius: 20px 0 0 20px;
  border: 1px solid var(--border-color1);
  transition: var(--transition);
  transform: translateX(100%);

  &.active {
    transform: none;
  }

  .toggle-sidebar-btn {
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: rgb(var(--primary-color));
    color: rgb(var(--white));
    display: flex;
    align-items: center;
    justify-content: center;
    left: -45px;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: var(--shadow3);
    border-radius: 15px 0 0 15px;
    font-size: 18px;
    i {
      animation: rotate 3s linear infinite;
    }
  }

  .radio-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .radio-input * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  .radio-input label {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0px 20px;
    width: 100%;
    cursor: pointer;
    height: 50px;
    position: relative;
  }

  .radio-input label::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 45px;
    z-index: -1;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    border-radius: 10px;
    border: 2px solid var(--border-color1);
  }

  .radio-input label:hover::before {
    transition: all 0.2s ease;
    background-color: rgb(var(--primary-color), 0.1);
  }

  .radio-input .label:has(input:checked)::before {
    border-color: rgb(var(--primary-color));
    height: 50px;
  }

  .radio-input .label .text {
    color: rgb(var(--heading-color));
  }

  .radio-input .label input[type="radio"] {
    background-color: var(--lime-gray);
    appearance: none;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .radio-input .label input[type="radio"]:checked {
    background-color: rgb(var(--primary-color));
    -webkit-animation: puls 0.7s forwards;
    animation: pulse 0.7s forwards;
  }

  .radio-input .label input[type="radio"]:before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    background-color: var(--bg-color1);
    transform: scale(0);
  }

  .radio-input .label input[type="radio"]:checked::before {
    transform: scale(1);
  }

  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    }

    70% {
      box-shadow: 0 0 0 8px rgba(255, 255, 255, 0);
    }

    100% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
  }
}
// Custom sidebar start
// Social area start
.social-box {
  display: flex;
  gap: 10px;

  li {
    a {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgb(var(--primary-color));
      border: 1px solid var(--border-color1);
      border-radius: 8px;
      background-color: var(--bg-color1);

      &:hover {
        background-color: rgb(var(--primary-color));
        color: rgb(var(--white));
      }
    }
  }
}

// Social area end

/*----------------------------------------------
Reset end
----------------------------------------------*/

/*----------------------------------------------
Reusable style section start
----------------------------------------------*/

// Cmn box start
.cmn-box {
  border: 2px solid var(--border-color1);
  border-radius: 16px;
  padding: 25px 20px;
  transition: var(--transition);
  background-color: var(--bg-color1);
  display: flex;
  gap: 30px;
  &:hover {
    background-color: var(--bg-color2);
  }
  .img-box {
    width: 120px;
    min-width: 120px;
  }
  .text-box {
    flex-grow: 1;
  }
}
@media (max-width: 575px) {
  .cmn-box {
    flex-direction: column;
  }
}
// Cmn box end

// Text underline start
.text-underline {
  position: relative;
  z-index: 1;
  display: inline-flex;

  &::after {
    -webkit-mask-image: url(../img/svg/download2.svg);
    mask-image: url(../img/svg/download2.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    bottom: -0.1em;
    content: "";
    display: block;
    height: 0.3em;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
    background: var(--gradient-bg);
  }
}

// Text underline end

.link-underline {
  cursor: pointer;
  color: rgb(var(--white));
  border-radius: 5px;
  padding: 2px 8px;
  background-color: rgb(var(--primary-color));

  &:hover {
    text-decoration: underline;
    color: rgb(var(--white));
  }
}

.cmn-btn {
  background-color: rgb(var(--primary-color));
  padding: 12px 16px;
  transition: var(--transition);
  font-size: 16px;
  color: rgb(var(--white));
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  gap: 5px;
  border-radius: 8px;
  // font-weight: 500;
  border: 1px solid transparent;

  &:hover {
    background-color: rgb(var(--primary-color), 0.8);
    color: rgb(var(--white));
  }
}

.rtl {
  .cmn-btn {
    i {
      transform: rotate(180deg);
    }
  }
}

/*----------------------------------------------
Alerts section start 
----------------------------------------------*/
.alert {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 15px;
  border-left: 15px solid;

  .icon-area {
    i {
      font-size: 30px;
      margin-right: 15px;
    }
  }

  .title {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
  }

  .title {
    font-size: 18px;
  }

  .title,
  .description {
    color: rgb(var(--heading-color));
  }
}

.alert-dismissible {
  .btn-close {
    position: absolute;
    top: 50%;
    right: 10px;
    z-index: 2;
    transform: translateY(-50%);
    padding: 0;
    background: none;
    height: initial;
    width: initial;

    i {
      font-size: 24px;
    }
  }
}

.alert-success {
  color: #3ac279;
  background: #c5f7dc;
  border-color: #c5f7dc;
  border-left-color: #3ac279;

  .btn-close {
    color: #3ac279;
  }
}

.alert-danger {
  color: #e9594c;
  background: #ffcfcb;
  border-color: #ffcfcb;
  border-left-color: #e9594c;

  .btn-close {
    color: #e9594c;
  }
}

.alert-warning {
  color: #e89f29;
  background: #ffe8c3;
  border-color: #ffe8c3;
  border-left-color: #e89f29;

  .btn-close {
    color: #e89f29;
  }
}

.alert-message {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #fcf2e3;
  border-radius: 4px;
  padding: 2px 8px;
  font-size: 12px;
  color: rgb(var(--heading-color));
  font-weight: 500;

  i {
    color: var(--orange);
    font-size: 16px;
  }
}

.dark-theme {
  .alert-message {
    background-color: #a38558;
  }
}

/*----------------------------------------------
Alerts end 
----------------------------------------------*/

section {
  padding: 50px 0;
}

@media (max-width: 991px) {
  section {
    padding: 50px 0;
  }
}

// Badge section start
.badge {
  position: relative;
  font-weight: 600;
  text-transform: uppercase;
  padding: 5px;
  border-radius: 10px;
  padding-left: 20px;
  text-transform: capitalize !important;
  font-size: 14px;

  &::before {
    position: absolute;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    content: "";
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.badge.text-bg-primary {
  color: rgb(var(--heading-color)) !important;
  background-color: var(--white) !important;
  border: 1px solid var(--border-color2);

  &::before {
    background-color: RGBA(13, 110, 253) !important;
  }
}

// Badge section end
hr {
  margin: 10px 0;
  border-color: var(--border-color2);
  opacity: 1;
}

.footer-hr {
  margin: 30px 0;
  border-color: var(--border-color1);
}

.cmn-hr {
  background-color: transparent;
  background-image: linear-gradient(
    90deg,
    rgba(206, 211, 246, 0) 0,
    #a9aaad 38%,
    #a9aaad 64%,
    rgba(206, 211, 246, 0) 99%
  );
  opacity: 0.3;
  border-top: initial;
  height: 1px;
  margin: 50px 0;
}

.cmn-hr2 {
  margin: 20px 0;
  border-color: var(--border-color1);
}

hr.divider {
  margin-top: 50px;
  padding: 0;
  overflow: visible;
  border: none;
  border-top: 1px solid var(--border-color2);
  color: #6e6d7a;
  text-align: center;
  opacity: 0.75;
}

hr.divider:after {
  content: "Or continue with";
  display: inline-block;
  position: relative;
  top: -12px;
  padding: 0 16px;
  background: var(--bg-color1);
  color: rgb(var(--heading-color));
}

// Cmn list section start

.cmn-list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .item {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

// Rtl cmn list section start
.rtl {
  .cmn-list .item:not(:last-child)::after {
    left: 0;
    right: 12px;
  }
}

// Rtl cmn list section end
// Cmn list section end

// Keyframes sections start
@keyframes marquee-right {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes marquee-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes slideInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }

  50% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes topToBottom {
  0% {
    top: -5px;
  }

  100% {
    top: 5px;
  }
}

@keyframes jump {
  0% {
    transform: translate3d(0, 0, 0);
  }

  50% {
    transform: translate3d(0, -20px, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes jumpTwo {
  0% {
    transform: translate3d(0, 0, 0);
  }

  50% {
    transform: translate3d(0, 20px, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveUp {
  0% {
    opacity: 1;
    transform: translateX(0px) translateY(0px) scale(1);
  }

  25% {
    opacity: 0;
    transform: translateX(10px) translateY(-10px) scale(0.9);
  }

  26% {
    opacity: 0;
    transform: translateX(-10px) translateY(10px) scale(0.9);
  }

  55% {
    opacity: 1;
    transform: translateX(0px) translateY(0px) scale(1);
  }
}

// Keyframes sections end

// Border effect start
.border-effect {
  display: inline !important;
  width: 100%;
  background-repeat: no-repeat;
  background-position-y: -2px;
  background-image: linear-gradient(
    transparent calc(100% - 1px),
    rgb(var(--primary-color)) 1px
  );
  transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  background-size: 0 100%;
  backface-visibility: hidden;

  &:hover {
    background-image: linear-gradient(
      transparent calc(100% - 1px),
      rgb(var(--primary-color)) 1px
    );
    background-size: 100% 100%;
  }
}

// Border effect end
// Custom switch start
.custom-switch {
  position: fixed;
  top: 10px;
  right: 10px;
  display: inline-block;
  margin: 0 5px;
  z-index: 999999;
  & > span {
    position: absolute;
    top: 14px;
    pointer-events: none;
    font-family: "Helvetica", Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    width: 50%;
    text-align: center;
    &.on {
      left: 0;
      padding-left: 2px;
      color: rgb(var(--primary-color));
    }
    &.off {
      right: 0;
      padding-right: 4px;
      color: rgb(var(--white));
    }
  }
  input.check-toggle-round-flat:checked ~ .off {
    color: rgb(var(--primary-color));
  }
  input.check-toggle-round-flat:checked ~ .on {
    color: rgb(var(--white));
  }
  .check-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
  }
  .check-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  input.check-toggle-round-flat + label {
    padding: 2px;
    width: 101px;
    height: 41px;
    background-color: rgb(var(--primary-color));
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
  }
  input.check-toggle-round-flat + label:before,
  input.check-toggle-round-flat + label:after {
    display: block;
    position: absolute;
    content: "";
  }

  input.check-toggle-round-flat + label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: rgb(var(--primary-color));
    border-radius: 60px;
  }
  input.check-toggle-round-flat + label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 48px;
    background-color: rgb(var(--white));
    -webkit-border-radius: 52px;
    -moz-border-radius: 52px;
    -ms-border-radius: 52px;
    -o-border-radius: 52px;
    border-radius: 52px;
    -webkit-transition: margin 0.2s;
    -moz-transition: margin 0.2s;
    -o-transition: margin 0.2s;
    transition: margin 0.2s;
  }

  input.check-toggle-round-flat:checked + label:after {
    margin-left: 44px;
  }
}

// Custom switch end
/*----------------------------------------------
Reusable style section end
----------------------------------------------*/

/*----------------------------------------------
Margin top start
----------------------------------------------*/
.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-75 {
  margin-top: 75px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-150 {
  margin-top: 150px;
}

.mt-190 {
  margin-top: 190px;
}

/*----------------------------------------------
end
----------------------------------------------*/

/*----------------------------------------------
Margin bottom start
----------------------------------------------*/
.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-65 {
  margin-bottom: 65px;
}

.mb-75 {
  margin-bottom: 75px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-150 {
  margin-bottom: 150px;
}

/*----------------------------------------------
end
----------------------------------------------*/

/*----------------------------------------------
Padding top start
----------------------------------------------*/
.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-35 {
  padding-top: 35px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-45 {
  padding-top: 45px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-75 {
  padding-top: 75px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-150 {
  padding-top: 150px !important;
}

.pt-190 {
  padding-top: 190px;
}

.pt-200 {
  padding-top: 200px;
}

/*----------------------------------------------
end
----------------------------------------------*/

/*----------------------------------------------
Padding bottom
----------------------------------------------*/
.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-35 {
  padding-bottom: 35px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-45 {
  padding-bottom: 45px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-65 {
  padding-bottom: 65px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-75 {
  padding-bottom: 75px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-150 {
  padding-bottom: 150px;
}

/*----------------------------------------------
Padding bottom
----------------------------------------------*/

/*----------------------------------------------
02. Bottom Mobile, Tab nav section start
----------------------------------------------*/
.bottom-nav {
  background: var(--bg-color1);
  justify-content: space-around;
  box-shadow: var(--shadow2);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  height: 55px;
  display: flex;
  align-items: center;

  .nav-item {
    .nav-link {
      color: rgb(var(--heading-color));
      width: 45px;
      height: 45px;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      transition: var(--transition);

      &.active,
      &:hover {
        color: rgb(var(--white));
        background: rgb(var(--primary-color));
        margin-top: -22px;
      }

      i {
        font-size: 20px;
      }
    }
  }
}

/*----------------------------------------------
Bottom Mobile, Tab nav end
----------------------------------------------*/

/*----------------------------------------------
Profile details section start
----------------------------------------------*/

.profile-banner {
  height: 320px;
  position: relative;
  margin-bottom: 110px;
  img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
  }
  .profile-img {
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: -80px;
    left: 80px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}
.doctor-location {
  font-weight: 500;
  font-size: 16px;
}
.experience-container {
  .cmn-box {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
@media (max-width: 767px) {
  .profile-banner {
    height: 220px;
  }
}
@media (max-width: 575px) {
  .profile-banner {
    height: 150px;
  }
}
/*----------------------------------------------
Profile details section end
----------------------------------------------*/

/*----------------------------------------------
20. Footer section start
----------------------------------------------*/
.footer-section {
  position: relative;
  z-index: 0;
  padding: 30px 0;
  background-color: var(--bg-color2);
  color: rgb(var(--white-rgb), 0.9);

  .footer-widget {
    .widget-title {
      position: relative;
      margin-bottom: 20px;
      text-transform: capitalize;
      font-size: 20px;
      font-family: var(--heading-font);
      color: rgb(var(--heading-color));
    }
  }
}

.footer-widget {
  .widget-logo {
    margin-bottom: 20px;
    display: inline-flex;
  }

  ul {
    li {
      line-height: 2.5;
    }
  }

  .widget-link {
    margin-left: 18px;
    position: relative;

    &:hover {
      color: rgb(var(--primary-color));
    }

    &::before {
      border-radius: 50%;
      height: 7px;
      width: 7px;
      content: "";
      left: -17px;
      top: 6px;
      position: absolute;
      background-color: rgb(var(--primary-color));
    }
  }
}

.contact-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-item {
  display: flex;
  gap: 10px;

  i {
    color: rgb(var(--primary-color));
  }
}

//Rtl Footer section start
.rtl {
  .footer-section .footer-widget {
    .widget-title {
      &::before,
      &::after {
        right: 0;
        left: auto;
      }
    }

    .widget-link {
      margin-left: 0;
      margin-right: 18px;

      &::before {
        left: auto;
        right: -17px;
      }
    }

    .contact-item i {
      margin-right: 0;
      margin-left: 10px;
    }
  }
}

//Rtl Footer section end

/*----------------------------------------------
Footer section end
----------------------------------------------*/

/*----------------------------------------------
21. Copyright section start
----------------------------------------------*/
.copyright-section {
  background-color: var(--bg-color4);
  font-size: 16px;
}

.copyright-inner {
  padding: 20px 0;
}

// Responsive copyright start
@media (max-width: 575px) {
  .copyright-area {
    text-align: center;
  }

  .language {
    justify-content: center;
  }
}

// Responsive copyright end

/*----------------------------------------------
Copyright end
----------------------------------------------*/

/*----------------------------------------------
25. Blog details section start
----------------------------------------------*/

.sidebar-widget-area {
  padding: 25px;
  background-color: var(--bg-color1);
  border-radius: 15px;
  margin-bottom: 25px;
  border: 1px solid var(--border-color1);
  box-shadow: var(--shadow1);

  .title {
    margin-bottom: 15px;
    text-transform: capitalize;
  }

  .sidebar-widget-item {
    display: flex;
    align-items: center;
    transition: var(--transition);

    &:hover {
      .content-area .title {
        color: rgb(var(--primary-color));
      }

      .img-area {
        img {
          transform: scale(1.03);
        }
      }
    }

    .img-area {
      width: 80px;
      min-width: 80px;
      height: 80px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        border-radius: 16px;
        transition: var(--transition);
      }
    }

    .content-area {
      margin-left: 15px;
      width: calc(100% - 100px);

      .title {
        font-size: 18px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        transition: all ease 0.3s;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.3;
        color: rgb(var(--heading-color));
        margin-bottom: 10px;
        font-family: var(--heading-font);
      }

      .widget-date {
        display: flex;
        gap: 5px;
        color: rgb(var(--heading-color));

        i {
          color: rgb(var(--primary-color));
        }

        font-size: 14px;
      }
    }
  }

  .sidebar-widget-item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .widget-title {
    margin-bottom: 20px;
    position: relative;
    text-transform: capitalize;
    display: flex;
    gap: 10px;

    &::before {
      content: "";
      width: 5px;
      border-radius: 6px;
      background-color: rgb(var(--primary-color));
    }
  }
}

// Responsive blog details start
@media (max-width: 991px) {
  .sidebar-widget-area {
    padding: 20px;
  }
}

// Responsive blog details end

/*----------------------------------------------
Blog details end
----------------------------------------------*/

/*----------------------------------------------
Gallery box start
----------------------------------------------*/
.gallery-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  .gallery-item {
    cursor: pointer;
    aspect-ratio: 1/1;
    img {
      height: 100%;
      width: 100%;
      border-radius: 5px;
      object-fit: cover;
    }
  }
}
/*----------------------------------------------
Gallery box end
----------------------------------------------*/
